<form autocomplete="off">
    <div class="jumbotron">
        <h3 class="display-4">Thêm mới sản phẩm</h3>           
    </div>
    <div class="container">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Mã sản phẩm </label>
                <input class="form-control">
              </div>
              <div class="form-group col-md-8">
                <label>Tên sản phẩm </label>
                <input class="form-control">
              </div>
              <div class="form-group col-md-8">
                <label>Tên sản phẩm </label>
                <input class="form-control">
              </div>
              <div class="form-group col-md-8">
                <label>Tên sản phẩm </label>
                <input class="form-control">
              </div>
        </div>
    </div>
</form>